/* PHASE 4: Footer */
.footer {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
  color: #ccc;
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  background: white;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  padding: 20px;
}

.footer ul {
  display: flex;
}

.footer ul > li {
  padding: 0 0 0 20px;
}

.footer a:hover {
  color: #000;
}
